.buttons-list {
  .reset-list();

  &__item {
    display: block;
    padding: 27px 0 27px 76px;
    border-bottom: 1px solid @grey-color;

    @media (min-width: @tablet-width) {
      border-bottom: none;
      border-left: 1px solid @grey-color;
    }

    &--basket {
      @media (min-width: @tablet-width) {
        padding: 35px 0 30px 86px;
      }

      @media (min-width: @desktop-width) {
        padding-left: 90px;
      }
    }

    &--search {
      @media (min-width: @tablet-width) {
        padding: 38px 30px 28px;
      }
    }
  }

  &__icon {
    position: absolute;
    left: -55px;
    top: 3px;

    & path {
      fill: #d3d2d2;
    }

    &:hover path {
      transition: 0.3s ease;
      fill: @main-color;
    }

    @media (min-width: @tablet-width) {
      &--search {
        position: static;
      }
    }
  }

  &__link {
    font-size: @font-size + 2px;
    line-height: @font-size + 9px;
    color: @title-color;
    position: relative;
    transition: 0.3s ease;

    &:hover {
      color: #666666;

      path {
        transition: 0.3s ease;
        fill: @main-color;
      }
    }

    &:focus {
      opacity: 0.3;

      path {
        fill: @main-color;
      }
    }

    &--search {
      display: block;

      span {
        @media (min-width: @tablet-width) {
          display: none;
        }
      }
    }
  }
}
