.catalog-wrapper {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
  }

  &__product-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
      padding-bottom: 0;
      margin-bottom: 50px;
      flex-direction: row;
    }

    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }
}
