.developers {
  font-family: @font-bold;
  font-size: @font-size + 4px;
  line-height: @font-size +3px;
  color: @title-color;

  &:hover svg {
    fill: #46c1ae;
  }

  &:focus {
    color: #a8a8a8;

    & svg {
      fill: #bde3dd;
    }
  }

  &__logo {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;

    & svg {
      transition: 0.3s ease;
    }
  }

  &__logo-image {
    min-width: 30px;
    height: 35px;
  }
}
