.feedback {
  @media (min-width: @tablet-width) {
    position: relative;
    background: url("../img/review@1x.jpg") no-repeat left;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .page-header__logo {
        background-image: url("../img/review@2x.jpg");
        background-size: 1338px auto;
      }
    }
  }

  &__title {
    font-size: @font-size + 10px;
    line-height: @font-size + 15px;
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      font-size: @font-size + 28px;
      line-height: @font-size + 35px;
      margin-bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      font-size: @font-size + 38px;
      line-height: @font-size + 42px;
    }
  }

  &__item {
    @media (min-width: @tablet-width) {
      font-size: @font-size + 2px;
    }
  }

  &__main {
    line-height: @font-size + 15px;
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-bottom: 58px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 6px;
    }
  }

  &__author {
    font-family: @font-bold;
    color: @title-color;
    margin-bottom: 5px;
    max-width: 300px;
  }

  &__author-link {
    max-width: 300px;
  }

  &__toggles {
    margin-bottom: 39px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      position: absolute;
      right: 50px;
      bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      right: 100px;
      bottom: 100px;
    }
  }

  &__button {
    .button-reset();
    display: block;
    padding: 15px 80px;
    border: 2px solid @font-color;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: #444444;
      color: @white;
    }

    &:focus {
      background: #444444;
      color: #7c7c7c;
    }

    @media (min-width: @tablet-width) {
      padding: 14px 37px;
      position: absolute;
      top: 80px;
      right: 50px;
    }

    @media (min-width: @desktop-width) {
      top: 85px;
      right: 100px;
    }
  }
}
