.footer {
  background: @grey-color;
  padding: 0 30px;

  &__logo {
    display: none;
  }

  &__social {
    display: flex;
    justify-content: center;
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
}
