.footer {
  background: @grey-color;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 100px 50px 100px;
  }

  &__item {
    @media (min-width: @tablet-width) {
      width: 30%;
    }
  }

  &__logo {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;
      padding: 0;
    }

    & svg {
      width: 100px;
      height: 40px;
      transition: 0.3s ease;
    }

    &:hover svg {
      fill: @main-color;
    }

    &:focus svg {
      fill: #bde3dd;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    padding: 30px 30px 20px 30px;
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: @tablet-width) {
      padding: 0;
      align-items: center;
      border-bottom: none;
    }
  }

  &__developers {
    padding: 25px 30px 30px 35px;
    display: flex;
    justify-content: center;

    @media (min-width: @tablet-width) {
      padding: 0;
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}
