.form {
  @media (min-width: @tablet-width) {
    position: relative;
  }

  &__group {
    padding: 0;
    font-family: @font-bold;
    font-size: @font-size + 2px;
    line-height: @font-size + 3px;
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: @tablet-width) {
      padding-left: 167px;
      font-size: @font-size + 4px;
      line-height: @font-size + 3px;
      margin: 0 50px 10px 50px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 276px 10px 160px;
      padding-left: 113px;
    }


    &--grey-color {
      @media (min-width: @tablet-width) {
        background: #f1f1f1;
        margin: 0;
      }
    }

    &--two-column {
      @media (min-width: @tablet-width) {
        padding: 65px 25px 10px 217px;
        margin: 0 0 67px 0;
        flex-direction: row;
        flex-wrap: wrap;

        & .form__title-wrapper {
          left: 50px;
          top: 65px;
        }
      }

      @media (min-width: @desktop-width) {
        padding: 65px 25px 10px 275px;

        & .form__title-wrapper {
          left: 160px;
        }
      }
    }

    &--phone {
      @media (min-width: @tablet-width) {
        padding: 65px 25px 10px 217px;

        & .form__title-wrapper {
          left: 50px;
          top: 65px;
        }
      }

      @media (min-width: @desktop-width) {
        padding: 65px 275px 0 275px;

        & .form__title-wrapper {
          left: 160px;
        }
      }
    }

    &--mail {
      @media (min-width: @tablet-width) {
        padding: 0 25px 10px 217px;
        margin-bottom: 55px;

        & .form__title-wrapper {
          left: 50px;
          top: 0;
        }
      }

      @media (min-width: @desktop-width) {
        padding: 0 275px 10px 275px;

        & .form__title-wrapper {
          left: 160px;
        }
      }
    }
  }

  &__radio-label {
    position: relative;
    cursor: pointer;
    margin-bottom: 23px;

    @media (min-width: @tablet-width) {
      margin-bottom: 58px;
    }
  }

  &__checkbox-label {
    position: relative;
    cursor: pointer;
    margin-bottom: 43px;

    &:last-child {
      margin-bottom: 20px;
    }

    @media (min-width: @tablet-width) {
      width: 50%;
      margin-bottom: 58px;
    }

    @media (min-width: @tablet-width) {
      width: 28%;
      margin-bottom: 58px;
    }
  }

  &__radio-mark {
    width: 35px;
    height: 35px;
    background: #ffffff;
    border: 2px solid @font-color;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -10px;
    z-index: 1;

    @media (min-width: @tablet-width) {
      width: 50px;
      height: 50px;
      top: -17px;
    }
  }

  &__checkbox-mark {
    width: 35px;
    height: 35px;
    background: #ffffff;
    border: 2px solid @font-color;
    cursor: pointer;
    position: absolute;
    top: -10px;
    z-index: 1;

    @media (min-width: @tablet-width) {
      background: none;
      width: 50px;
      height: 50px;
      top: -17px;
    }
  }

  &__label-text {
    display: block;
    padding-left: 63px;

    @media (min-width: @tablet-width) {
      padding-left: 83px;
    }
  }

  &__group-item--radio:checked + .form__radio-mark::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    background: @main-color;
    border-radius: 50%;
    display: block;

    @media (min-width: @tablet-width) {
      top: 15px;
      left: 16px;
      width: 20px;
      height: 20px;
    }
  }

  &__group-item--checkbox:checked + .form__checkbox-mark::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: url("../img/icon-tick.svg") no-repeat center;
    background-size: contain;
    display: block;

    @media (min-width: @tablet-width) {
      width: 35px;
      height: 35px;
      top: 10px;
      left: 10px;
    }
  }

  &__group-item {
    &--radio {
      position: absolute;
      visibility: hidden;
    }

    &--checkbox {
      position: absolute;
      visibility: hidden;
    }

    &--text {
      margin-top: 20px;
    }

    &[type="text"] {
      border: none;
      display: block;
      padding-bottom: 19px;
      border-bottom: 2px solid @title-color;

      @media (min-width: @tablet-width) {
        margin-top: 0;
        margin-left: 28px;
        padding-left: 15px;
        flex-grow: 1;
        background: none;
      }
    }

    &::-webkit-input-placeholder {
      font-size: @font-size + 2px;
      line-height: @font-size + 3px;
      font-family: @font-regular;
      color: #c7c7c7;

      @media (min-width: @tablet-width) {
        font-size: @font-size + 4px;
      }
    }

    &::-moz-placeholder {
      font-size: @font-size + 2px;
      line-height: @font-size + 3px;
      font-family: @font-regular;
      color: #c7c7c7;

      @media (min-width: @tablet-width) {
        font-size: @font-size + 4px;
      }
    }

    &:-moz-placeholder {
      font-size: @font-size + 2px;
      line-height: @font-size + 3px;
      font-family: @font-regular;
      color: #c7c7c7;

      @media (min-width: @tablet-width) {
        font-size: @font-size + 4px;
      }
    }

    &:-ms-input-placeholder {
      font-size: @font-size + 2px;
      line-height: @font-size + 3px;
      font-family: @font-regular;
      color: #c7c7c7;

      @media (min-width: @tablet-width) {
        font-size: @font-size + 4px;
      }
    }

    &--phone {
      margin-top: 10px;

      @media (min-width: @tablet-width) {
        &[type="text"] {
          margin-left: 0;
        }
      }
    }

    &--email {
      @media (min-width: @tablet-width) {
        &[type="text"] {
          margin-left: 0;
        }
      }
    }

    &--message {
      border: 2px solid @title-color;
      min-height: 108px;
      padding: 15px;
    }
  }

  &__label-typetext {
    line-height: @font-size - 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 8px;

      @media (min-width: @tablet-width) {
        margin-bottom: 37px;
      }
    }

    @media (min-width: @tablet-width) {
      line-height: @font-size + 2px;
      flex-direction: row;
      margin-bottom: 38px;
    }
  }

  &__textarea-label {
    display: flex;
    flex-direction: column;
  }

  &__title-wrapper {
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      position: absolute;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      width: 100%;
      height: 1px;
      background: @main-color;
      right: -4px;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    &--medium-margin {
      margin-bottom: 25px;
    }

    &--small-margin {
      margin-bottom: 10px;
    }
  }

  &__group-title {
    font-size: @font-size + 1px;
    line-height: @font-size + 1px;
    text-transform: uppercase;
    color: @main-color;
    padding: 0;
    padding-right: 28px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    display: inline-block;

    @media (min-width: @tablet-width) {
      background: none;
      font-size: @font-size + 2px;
    }
  }

  &__button {
    border: 2px solid @font-color;
    color: @font-color;
    padding: 15px 45px 15px 45px;
    background: #ffffff;

    @media (min-width: @tablet-width) {
      padding: 15px 30px 15px 30px;
      margin-left: 50px;
      margin-top: 40px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 275px;
      margin-top: 35px;
    }
  }

  &__small-text {
    font-size: @font-size - 1px;
    line-height: @font-size + 1px;
    margin-top: 10px;
    display: block;
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      font-size: @font-size + 2px;
      line-height: @font-size + 15px;
      margin-bottom: 12px;
      position: absolute;
      right: 50px;
      bottom: 0;
    }

    @media (min-width: @tablet-width) {
      right: 275px;
    }
  }
}
