.header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    border-bottom: 1px solid @grey-color;
  }

  @media (min-width: @desktop-width) {
    height: 90px;
    padding: 0 100px;
  }

  &__logo {
    display: block;
    text-align: center;
    padding: 24px 0 17px 0;
    border-bottom: 1px solid @grey-color;

    :hover {
      opacity: 0.7;
    }

    :active {
      opacity: 0.5;
    }

    :focus {
      opacity: 0.5;
    }

    @media (min-width: @tablet-width) {
      border-bottom: none;
      padding-top: 20px;
      order: 1;
    }

    @media (min-width: @desktop-width) {
      order: 2;
      padding-top: 30px;
    }
  }

  &__main-nav {
    @media (min-width: @desktop-width) {
      height: 90px;
    }
  }

  &__logo-image {
    width: 85px;
    height: 35px;
    display: inline-block;

    @media (min-width: @tablet-width) {
      width: 104px;
      height: 44px;
    }

    @media (min-width: @desktop-width) {
      width: 160px;
      height: 80px;
    }
  }

  &__nav-toggle {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    border: none;
    width: 22px;
    height: 22px;
    background: url("../img/icon-menu-open.svg") no-repeat center;

    &--opened {
      background: url("../img/icon-menu-close.svg") no-repeat center;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__text {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      top: 105px;
      right: 50px;
      z-index: 1;
    }

    @media (min-width: @desktop-width) {
      top: 108px;
      right: 100px;
    }
  }
}
