.main-nav {
  font-family: @font-bold;
  font-size: @font-size + 2px;
  line-height: @font-size + 7px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons-list {
    display: none;

    @media (min-width: @tablet-width) {
      order: 2;
      display: flex;
      flex-direction: row;
    }

    @media (min-width: @desktop-width) {
      order: 3;
    }
  }

  &__site-list {
    display: none;

    @media (min-width: @tablet-width) {
      padding: 0;
      display: flex;
      position: absolute;
      left: 50px;
      top: 105px;
      z-index: 1;
    }

    @media (min-width: @desktop-width) {
      position: static;
      order: 1;
    }
  }

  &__submenu {
    display: none;

    @media (min-width: @desktop-width) {
      z-index: 1;
      position: absolute;
      top: 108px;
      left: 100px;
      display: flex;
      color: @font-color;
    }
  }
}
