.main {
  &__page-title-wrapper {
    background-color: #f9f9f9;
    height: 480px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .page-header__logo {
        background-image: url("../img/hero-mobile@2x.jpg");
        background-size: 1338px auto;
      }
    }

    @media (min-width: @tablet-width) {
      height: 750px;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center 0;


      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        .page-header__logo {
          background-image: url("../img/hero-tablet@2x.jpg");
          background-size: 1338px auto;
        }
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/hero-desktop@1x.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        .page-header__logo {
          background-image: url("../img/hero-desktop@2x.jpg");
          background-size: 1338px auto;
        }
      }
    }
  }

  &__page-title {
    position: relative;
  }

  &__separator {
    @media (min-width: @desktop-width) {
      padding: 0 100px;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__page-title-separator {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__week-offer {
    padding: 0 30px;
    position: relative;
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      padding: 0 50px;
      margin-bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 100px 50px 100px;
      margin-bottom: 25px;
    }
  }

  &__features {
    padding: 0 30px;
    margin-top: 21px;

    @media (min-width: @tablet-width) {
      margin-top: 45px;
      padding: 0 50px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 57px;
      padding: 0 275px;
    }
  }

  &__feedback {
    padding: 0 30px;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      margin-bottom: 67px;
      padding: 75px 50px 50px 50px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 100px;
      padding: 75px 210px 100px 175px;
    }
  }

  &__contact {
    margin-top: 30px;

    @media (min-width: @tablet-width) {
      margin-top: 56px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 138px;
      margin-bottom: 100px;
      padding: 0 100px;
      position: relative;
    }
  }

  &__video {
    padding: 0 30px;
    margin-bottom: 55px;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      padding: 0 50px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 100px 100px 100px;
      position: relative;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      padding: 0;
    }
  }

  &__catalog-wrapper {
    padding: 0 30px;

    @media (min-width: @tablet-width) {
      padding: 0 50px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 100px;
      display: flex;
      justify-content: space-between;
    }
  }
}
