.site-list {
  .reset-list();
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: flex;
    position: absolute;
    left: 50px;
    top: 110px;
  }

  &__item:nth-child(n+3) {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      }
    }
  }
