.slider {
  &__list {
    .reset-list();
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__button {
    .button-reset();
    padding: 25px 65px;
    border-top: 1px solid @grey-color;
    border-bottom: 1px solid @grey-color;
    border-left: 1px solid @grey-color;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }

    @media (min-width: @tablet-width) {
      padding: 25px 50px;
    }

    @media (min-width: @desktop-width) {
      border: none;
      padding: 0;
      width: 87px;
      height: 50px;
    }

    &--prev {
      background: url("../img/icon-left-arrow.svg") no-repeat center;
    }

    &--next {
      background: url("../img/icon-right-arrow.svg") no-repeat center;
      border-right: 1px solid @grey-color;

      @media (min-width: @desktop-width) {
        border-right: none;
      }
    }
  }

  &__toggles {
    display: flex;
    justify-content: center;
  }
}
