.slider {
  &__list {
    .reset-list();
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__button {
    .button-reset();
    padding: 25px 65px;
    border-top: 1px solid @grey-color;
    border-bottom: 1px solid @grey-color;
    border-left: 1px solid @grey-color;

    &--prev {
      background: url("../img/icon-left-arrow.svg") no-repeat center;
    }

    &--next {
      background: url("../img/icon-right-arrow.svg") no-repeat center;
      border-right: 1px solid @grey-color;
    }
  }

  &__toggles {
    display: flex;
    justify-content: center;
  }
}
