.video {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__wrapper {
    @media (min-width: @desktop-width) {
      width: 235px;
      padding: 0 80px;
    }
  }

  &__title {
    font-size: @font-size + 2px;
    line-height: @font-size + 9px;

    @media (min-width: @tablet-width) {
      order: 2;
      font-size: @font-size + 5px;
      line-height: @font-size + 9px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }

  &__description {
    font-size: @font-size - 2px;

    @media (min-width: @tablet-width) {
      order: 3;
      font-size: @font-size;
      line-height: @font-size + 15px;
      margin-bottom: 50px;
    }
  }

  &__image {
    @media (min-width: @tablet-width) {
      order: 1;
    }

    @media (min-width: @tablet-width) {
      position: absolute;
      left: 50px;
      top: 0;
    }
  }

  &__button {
    color: @font-color;
    display: block;
    margin: 0 auto 50px auto;
    padding: 15px 30px;
    background: #ffffff;
    border: 2px solid #444444;
    box-shadow: none;
    text-align: center;

    @media (min-width: @tablet-width) {
      order: 4;
      margin: 0;
      margin-bottom: 60px;
    }
  }
}
